.wrap{
    margin:0 auto;
}
body{
    font-family: "Noto Sans","Microsoft JhengHei";
    font-weight:600;
    font-size:18px;
}
p{
    text-align:center;
    line-height:auto;/*與包著的區塊設定同高度即可*/
}
.th{
    height:auto;
    width:auto;
} /*暫時沒用到*/
#status {
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}